html {
  min-height: 100vh;
  background-color: #00779b;
  color: #000000;
  overflow-x: hidden;
  font-family: "Fredoka One";
}
body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .boxes {
    flex-direction: column !important;
    align-items: center !important;
  }

  .settings {
    min-width: fit-content !important;
    padding: 2% 10% !important;
  }

  .disclaimer {
    font-size: 14px;
  }

  h1 {
    font-size: 5vw;
  }
}
.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  filter: drop-shadow(0 0 6px rgba(235, 219, 178, 0.33));
}
h1 {
  margin: 4px 0;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  text-align: center;
}
.Settings,
.Rates {
  margin: 16px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(235, 219, 178, 0.15);
  width: fit-content;
  padding: 10px;
  border-radius: 16px;
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Settings {
  min-width: 75%;
}
.OptionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.DeselectAllButton,
.SelectAllButton {
  font-family: "Fredoka One";
  margin: 5px;
  border-radius: 25px;
  background-color: #75d4f1;
  border-color: black;
}

.ItemButtons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 128px));
  gap: 5px;
  width: 100%;
  justify-content: space-evenly;
}
.DeselectedItemButton,
.SelectedItemButton {
  height: 128px;
  width: 128px;
  font-family: "Fredoka One";
  margin: 5px;
  border-radius: 25px;
  background-image: linear-gradient(
    to bottom,
    #313131,
    #1e1e1e);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.DeselectedItemButton {
  border-color: red;
}
.SelectedItemButton {
  border-color: lime;
}
.ItemIcon {
  width: 64px;
  height: 64px;
}
.ItemText {
  font-size: 90%;
}

.disclaimer {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  min-height: 15px;
  background: rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: "Fredoka One";
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 10px;
}

.disclaimer a {
  color: #519da1;
}
